.tdl-fail summary {
    background: rgba(255, 0, 0, 0.41);
}

.tdl-pass summary {
   background: rgba(22, 255, 0, 0.41);
}

.tdl-test-message.tdl-pass {
   background-color: rgba(22, 255, 0, 0.41);
}

.tdl-test-message.tdl-fail {
    background-color: rgba(255, 0, 0, 0.41);
}

.tdl-test-messages {
    list-style: none;
    padding: 0;
}

.tdl-wrapper {
    margin-bottom: 20px;
}

.tdl-wrapper summary {
    text-shadow: none;
}

.tdl-wrapper section {
    margin: 10px;
}

.tdl-test-method {
    border: none;
}

.tdl-test-method summary {
    padding-left: 10px;
}

.tdl-group-percentage {
    font-size: 12px;
}

.tdl-skeleton-form {
    float: left;
}

.tdl-test-form {
    float: left;
    margin-right: 10px;
}