{#
/**
 * @file
 * Themes a TDL Group landing page.
 *
 * Available variables:
 * - title: The title of the current group.
 * - description: The description of the current group.
 * - tests: An array of tests, which each include the following keys:
 *      - title: The title of the current test.
 *      - description: The description of the current test.
 *      - result: 'pass' or 'fail', depending on the method results for this test
 *      - requirements: All related method requirements, in order
 *
 */
#}
<div class="tdl-wrapper">
  <p class="tdl-group-description">
    {{ description }}
  </p>
  <div class="tdl-group-tests">
    {% for test in tests %}
    <div class="tdl-group-test tdl-{{ test.result }}">
      <details open="open">
        <summary>{{ test.title }}</summary>
        <section>
          <h1>Description</h1>
          <p>{{ test.description }}</p>
        </section>
        <section>
          <h1>Requirements</h1>
          <ul>
          {% for requirement in test.requirements %}
            <li>{{ requirement }}</li>
          {% endfor %}
          </ul>
        </section>
        <section>
         <a href="/tdl/{{ title }}/{{ test.title }}">View detailed test results, hints and instructions.</a>
        </section>
      </details>
    </div>
    {% endfor %}
  </div>
</div>