{#
/**
 * @file
 * Themes the main TDL landing page.
 *
 * Available variables:
 * - groups: An array of groups, which each include the following keys:
 *      - title: The title of the current group.
 *      - name: The machine name of the current group.
 *      - description: The description of the current group.
 *      - result: 'pass' or 'fail', depending on the test results for this group
 *
 */
#}
<div class="tdl-wrapper">
  {% for group in groups %}
    <div class="tdl-group">
      <a href="/tdl/{{ group.name }}">
        {% spaceless %}
        <h2>{{ group.title }}
          {% if group.result is not sameas(false) %}
            <span class="tdl-group-percentage">({{ group.result }}% Complete)</span>
          {% endif %}
        </h2>
        {% endspaceless %}
      </a>
      <p>{{ group.description }}</p>
    </div>
  {% endfor %}
</div>