{#
/**
 * @file
 * Themes a TDL Test page.
 *
 * Available variables:
 * - title: The title of the current test.
 * - description: The description of the current test.
 * - hints: An array of hints to help users with the current test
 * - classes: An associative array of test classes related to this test, which each include the following keys:
 *      - methods: An associative array of test methods associated with this class. Each method contains:
 *            - result: 'pass' or 'fail', depending on the method results.
 *            - messages: An array of simpletest result messages, which each include the following keys:
 *                  - message: The message returned by the method.
 *                  - result: 'pass' or 'fail', depending on the method results.
 *            - description: The method description.
 *            - requirements: An array of requirements for this method
 *
 */
#}
<div class="tdl-wrapper">
  <p class="tdl-test-description">
    {{ description }}
  </p>
  <h1>Requirements</h1>
  <ul class="tdl-test-requirements">
    {% for requirement in requirements %}
      <li>{{ requirement }}</li>
    {% endfor %}
  </ul>
  <h1>Hints</h1>
  <ul class="tdl-test-hints">
  {% for hint in hints %}
    <li class="tdl-test-hint">{{ hint }}</li>
  {% endfor %}
  </ul>
  <div class="tdl-test-classes">
    <h1>Test class details, requirements, and results </h1>
    {% for classname,class in classes %}
      <details class="tdl-test-class tdl-{{ class.result }}">
        <summary>{{ classname }}</summary>
        {% for methodname,method in class.methods %}
          <details class="tdl-test-method tdl-{{ method.result }}" open="open">
            <summary>{{ methodname }}</summary>
            <section>
              <h1>Description</h1>
              <p class="tdl-test-method-description">
               {{ method.description }}
              </p>
            </section>
            <section>
              <h1>Requirements</h1>
              <ul class="tdl-test-requirements">
                {% for requirement in method.requirements %}
                  <li class="tdl-test-requirement">{{ requirement }}</li>
                {% endfor %}
              </ul>
            </section>
            <section>
            {% if method.messages %}
              <h1>Recent Test Messages</h1>
              <ul class="tdl-test-messages">
                {% for message in method.messages %}
                  <li class="tdl-test-message tdl-{{ message.result }}">{{ message.message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            </section>
          </details>
        {% endfor %}
      </details>
    {% endfor %}
  </div>
</div>
